body {
    background-color: beige;
    text-align: center;
}

.narrative {
    background-color: slateblue;
    margin: auto;
    width: 50%;
    height: 400px;
}

#action-display {
    background-color: skyblue;
    margin: 10px auto;
    width: 50%;
    height: 2em;
}

section {
    margin: 10px auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

section div {
    background-color: gray;
    height: 180px;
    width: 400px;
}

#action-container { 
    display: flex;
    flex-wrap: wrap;
}

.action {
    background-color: hotpink;
    height: 60px;
    width: 100px;
    margin: 1px;
}

.selected {
    background-color: #bada55;
}